{% load url from future %}
{% regroup updates by timestamp|date:"D d M Y" as update_by_days %} 
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changes To Event Notes</title>
    <script src="http://code.jquery.com/jquery-1.11.0.js" type="text/javascript"></script>
</head>
<body style="width:100%; font-family: 'Open Sans', sans-serif;">  


<h1>All Revisions</h1>
<ul style="padding:0px;">
    {% for days in update_by_days %}
    <li class="day-node" style="list-style:none">{{ days.grouper }}
        <table>
            {% for update in days.list %}
            <tr>
                <td>
                    <a href="{% url "revisions_update" update=update.id %}">
                        {{update.timestamp|date:"P"}}
                    </a>         
                </td>
                <td>{{update.count}}</td>
            </tr>
            {% endfor %} 
        </table>
    </li>
    {% endfor %} 
</ul>

</body>
</html>
